#scale-wrapper{
    transform-origin: top left;
    position: absolute;
}
#lane-content{
    width: 1920px;
    height: 1080px;
    background-color: #fefefe;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 28px;
}